# скомпилированная программа
bin/
*.exe

# результаты экспериментов
results/
*.csv

# тестовые данные
data/*.bin

# временные файлы
*.tmp
temp_*.csv
*~

# Редакторы и IDE
.vscode/
.idea/
*.swp
*.swo
*~

# системные файлы
.DS_Store
Thumbs.db
desktop.ini